<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
    <h1>AI Employee Management System</h1>
    <h2>Add Employee</h2>

    <hr>

    <form method="POST">

        <label>Name</label><br>
        <input type="text" name="name" required><br><br>

        <label>Email</label><br>
        <input type="email" name="email" required><br><br>

        <label>Department</label><br>
        <input type="text" name="department" required><br><br>

        <label>Designation</label><br>
        <input type="text" name="designation" required><br><br>

        <label>Salary</label><br>
        <input type="number" name="salary" required><br><br>

        <button type="submit">Save Employee</button>

    </form>

    <br>

    <a href="{{ url_for('admin')}}">Back to Dashboard</a>
</body>
</html>