<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Employee Management System</title>
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
</head>
<body>

    <h1>AI Employee Management System</h1>

    <form action="" method="POST">

        <label>Username</label><br>
        <input type="text" name="username"><br><br>

        <label>Password</label><br>
        <input type="password" name="password"><br><br>

        <button type="submit">Login</button>

    </form>

</body>
</html>