<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Summary</title>
</head>

<body>

    <h2>Monthly Attendance Summary</h2>

    <form method="POST">

        <label for="month">Select Month:</label>

        <select id="month" name="month" required>
            <option value="">-- Select Month --</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>

        <br><br>

        <label for="year">Enter Year:</label>

        <input
            type="number"
            id="year"
            name="year"
            min="2000"
            max="2100"
            required
        >

        <br><br>

        <button type="submit">View Monthly Summary</button>

    </form>
    <br>
<a href="{{ url_for('admin')}}">Back to Dashboard</a>

</body>
</html>