<!DOCTYPE html>
<html>
<head>
    <title>Update Employee</title>
</head>
<body>

    <h1>AI Employee Management System</h1>
    <h2>Update Employee</h2>

    <hr>

    <form method="POST">

        <label>Name</label><br>
        <input type="text" name="name" value="{{ employee.name }}"><br><br>

        <label>Email</label><br>
        <input type="email" name="email" value="{{ employee.email }}"><br><br>

        <label>Department</label><br>
        <input type="text" name="department" value  = "{{ employee.department }}"><br><br>

        <label>Designation</label><br>
        <input type="text" name="designation" value = "{{ employee.designation }}"><br><br>

        <label>Salary</label><br>
        <input type="number" name="salary"  value = "{{ employee.salary }}"><br><br>

        <button type="submit">Update Employee</button>

    </form>

    <br>

    <a href="{{ url_for('admin') }}">Back to Dashboard</a>

</body>
</html>